# =========================
# DATA (IGNORE TRAIN/TEST IMAGES)
# =========================
data/train/
data/test/

# If you later add validation
data/val/

# =========================
# MODEL WEIGHTS
# =========================
*.pt
*.pth
*.bin
*.ckpt

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# VIRTUAL ENV
# =========================
venv/
.env
.env/

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# MACOS
# =========================
.DS_Store

