# =========================
# Data (DO NOT PUSH)
# =========================
data/
*.png
*.jpg
*.jpeg
*.pdf
*.tif

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# MacOS
# =========================
.DS_Store

# =========================
# Model Weights
# =========================
*.pt
*.pth
*.bin

# =========================
# Logs
# =========================
logs/
*.log

